.user-component__subtitle {
  display: flex;
}

.user-component__subtitle span {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  height: 15px;
  width: 15px;
  font-size: 15px;
  background-color: white;
  border: 2px solid red;
  opacity: 0.6;
  color: red;
  border-radius: 50%;
  margin-left: 5px;
}

.more-screen .icon-row {
  margin-top: 35px;
}

.more-screen .icon-row:nth-child(3) {
  margin-left: 5px;
}

.more-screen .icon-row:nth-child(3) .icon-row__icon:first-child {
  margin-right: 7px;
}

.hide i,
.hide span {
  opacity: 0;
}

.more-suggestion {
  margin-top: 30px;
  border-top: var(--main-border);
  padding-top: 30px;
}

.more-suggestion__title {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
}

.more-suggestion__icons {
  display: flex;
}

.more-suggestion__icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 40px;
}

.more-suggestion__icon-text {
  margin-top: 5px;
  font-weight: 400;
  opacity: 0.8;
}

.more-suggestion__icon-image img {
  width: 65px;
  height: 65px;
}
