.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__span {
  position: relative;
}

@keyframes rotate-cog {
  0% {
    tranform: none;
  }
  50% {
    transform: rotateZ(360deg);
  }
  100 {
    tranform: rotateZ(0deg);
  }
}

@keyframes rotate-search {
  0% {
    tranform: none;
  }
  50% {
    transform: rotateY(360deg);
  }
  100 {
    tranform: rotateY(0deg);
  }
}

.screen-header__icons .fa-cog {
  animation: rotate-cog 2.5s ease-in-out infinite;
}

.screen-header__icons .fa-search {
  animation: rotate-search 3s ease-out infinite;
}
